.content-container {
    max-width: 80%;
    margin: 7% auto 4% auto;
    padding: 0 1rem;
    text-align: center;
}

.content .text {
    padding-top: 2rem;

}

.content .text h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.content .text h1 .highlighted {
    color: #3b82f6;
    font-size: 4rem;
}

.content .text p {
    font-size: 1.25rem;
    color: #576074;
    line-height: 1.6;
    margin: 0 auto 30px;
    width: 100%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.get-started-btn {
    background-color: #111827;
    color: #ffffff;
    padding: 0.875rem 1.625rem;
    font-size: 1rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9999px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.get-started-btn ion-icon {
    font-size: 1.375rem;
    display: inline-block;
    vertical-align: middle;
}

.get-started-btn:hover {
    background-color: #1f2937;
    transform: translateY(-2px);
}

.get-started-btn:active {
    background-color: #111827;
    transform: translateY(0);
}


@media (max-width: 1024px) {
    .content-container {
        max-width: 90%;
        margin: 5% auto;
    }

    .content .text {
        padding-top: 2rem;
    }

    .content .text h1 {
        font-size: 2.5rem;
    }

    .content .text h1 .highlighted {
        font-size: 3.5rem;
    }

    .content .text p {
        font-size: 1.125rem;
    }

    .get-started-btn {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 768px) {
    .content-container {
        max-width: 95%;
        margin: 4% auto;
    }

    .content .text {
        padding-top: 2rem;
    }

    .content .text h1 {
        font-size: 2rem;
    }

    .content .text h1 .highlighted {
        font-size: 3rem;
    }

    .content .text p {
        font-size: 1rem;
    }

    .get-started-btn {
        padding: 0.625rem 1.25rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .content-container {
        max-width: 100%;
        margin: 2% auto;
        padding: 0 1rem;
    }

    .content .text {
        padding-top: 2rem;
    }

    .content .text h1 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .content .text h1 .highlighted {
        font-size: 2.5rem;
    }

    .content .text p {
        font-size: 0.275rem;
        margin-bottom: 20px;
    }

    .button-container {
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .get-started-btn {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .content-container {
        max-width: 100%;
        margin: 0% auto;
        padding: 0 1rem;
    }

    .content .text h1 {
        font-size: 2.4rem;
        line-height: 1.3;
    }

    .content .text h1 span {
        display: block;
        width: 100%;
    }

    .content .text h1 .highlighted {
        font-size: 2rem;
        line-height: 1.5;
        margin-top: 0.5rem;
    }

    .content .text p {
        font-size: 0.975rem;
        margin-bottom: 20px;
    }

    .button-container {
        margin-bottom: 50px;
    }
}