.news-page {
    font-family: Arial, sans-serif;
    padding: 0px;
    text-align: initial;
}

.support-header {
    margin-bottom: 30px;
}

.support-header h1 {
    font-size: 2.5em;
    color: #fff;
}

.support-header p {
    font-size: 1.2em;
    color: #fef8f8;
}

.news-and-events {
    margin-top: 40px;
}

/* @media (max-width: 1024px) {

    .news-page .navbar,
    .news-page .nav-links,
    .news-page .nav-links li {
        text-align: left !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
} */