/* General Container Styling */
.contact-main-container {
    width: 100%;
}

.contact-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f9fc;
    padding: 20px;
}

/* Header Styling */
.contact-header {
    text-align: center;
    margin: 0 auto;
    margin-top: -4%;
    margin-bottom: 20px;
    width: 80%;
}

.contact-header h1 {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 10px;
}

.contact-header p {
    font-size: 1.2rem;
    color: #fff;
}

/* Contact Card Styling */
.contact-card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Heading and Subtitle */
.contact-card h2 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

/* Form Styling */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    position: relative;
    display: flex;
    align-items: center;
}

.form-group .icon {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.2rem;
    color: #007bff;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 50px;
    /* Add padding for the icon */
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.form-group-checkbox input {
    margin-right: 10px;
}

/* Social Media Links */
.social-media {
    margin-top: 40px;
    text-align: center;
}

.social-media h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    font-size: 1.5rem;
    color: #007bff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #0056b3;
}