@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.intro-section {
  background-color: #0362c7;
  color: #fff;
  padding: 24px 12px;
  text-align: center;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 5px;
}

.intro-section h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 1.2em;
}

/* Schools Container */
.schools-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  margin-top: -35px !important;
  margin-bottom: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.school-box {
  background-color: #1e3d59;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: small;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
  margin: 0 15px;
}

.school-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: auto;
}

/* Faculty Container */
.faculty-container {
  max-width: 82%;
  margin: 0 auto;
  text-align: center;
  margin-top: 8%;
}

.faculty-container h1 {
  text-align: left;
  color: #004494;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: 3%;
  position: relative;
  padding-bottom: 10px;
}

.faculty-container h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50px;
  width: 95%;
  height: 4px;
  background-color: #004494;
}

.faculty-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.faculty-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 20%;
  max-width: 20%;
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.faculty-card img {
  width: 42%;
  height: 42%;
  margin: 35px auto;
  display: block;
  border-radius: 45%;
}

.faculty-card h3 {
  font-size: 22px;
  margin: 15px 0;
}

.faculty-card p {
  color: #666;
  margin: 9px 0;
  font-size: 17px;
}

.faculty-card .contact-info {
  color: #1e3d59;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.copied {
  color: silver;
}

.faculty-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  cursor: pointer;
}

.search-section {
  text-align: center;
  padding: 40px;
  background-color: transparent;
  margin-top: 15px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center items vertically */
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.search-bar input {
  padding: 10px 50px 10px 20px !important;
  width: 600px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 16px;
  color: #333;
  flex: 1;
  /* Allow input to take available space */
}

.search-bar input:focus {
  border: 1px solid #007bff;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2);
  outline: none;
}

.search-bar button {
  background: #007bff;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
  margin-left: 10px;
  /* Space between input and button */
}

.search-bar button:hover {
  background: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 91, 179, 0.2);
}

.search-bar button i {
  font-size: 18px;
}

/* Responsive design */
@media (max-width: 1200px) {
  .search-bar input {
    width: 500px;
    font-size: 15px;
  }

  .search-bar button {
    font-size: 18px;
    padding: 8px 12px;
  }
}

@media (max-width: 1024px) {
  .search-section h1 {
    font-size: 30px;
  }

  .search-bar input {
    width: 400px;
    font-size: 14px;
    padding: 10px 35px 10px 15px;
  }

  .search-bar button {
    font-size: 16px;
    padding: 8px 10px;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
  }

}

@media (max-width: 600px) {
  .search-bar input {
    width: 100%;
    /* Full width for smaller screens */
    height: 38px;
    font-size: 14px;
    padding: 10px 40px 10px 15px;
  }

  .search-bar button {
    display: none;
  }
}

.no-results {
  text-align: center;
  font-family: "Arial", "Courier New", Courier, monospace;
  font-size: 15px;
  color: #333;
  font-weight: bold;
  margin-top: 90px;
}

.no-results pre {
  list-style-type: disc;
  margin: 10px auto 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}

.no-results p {
  margin: 10px 0;
  font-weight: normal;
  font-size: 13px;
}

.no-results p:first-of-type {
  margin-bottom: 20px;
  /* Add more space below the first sentence */
}

.no-results ul {
  list-style-type: disc;
  margin: 10px auto 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  /* Align the list items to the left within the inline block */
}

.no-results li {
  margin-bottom: 5px;
}

.copied {
  color: silver;
}

/* Media Query for small devices (max-width: 600px) */
@media screen and (max-width: 600px) {
  .nav__menu {
    margin-left: 0;
  }

  .intro-section {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px !important;
    margin-top: -120px !important;
  }

  .search-section {
    padding: 18px 0 10px 0 !important;
    margin-top: 0 !important;
  }

  .search-bar {
    margin-top: -30px !important;
    max-width: 98% !important;
  }

  .search-bar input {
    width: 98vw !important;
    min-width: 0 !important;
    font-size: 15px !important;
  }

  .faculty-container {
    margin-top: 0% !important;
  }

  .schools-container {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    row-gap: 8px;
  }

  .school-box {
    padding: 10px 20px;
    font-size: small;
  }

  .faculty-card {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .faculty-container h1 {
    margin-top: 100px;
    font-size: 26px;
  }

  .faculty-card img {
    width: 42%;
    height: 42%;
    margin: 20px auto;
    display: block;
    border-radius: 45%;
  }

  .faculty-card h3 {
    font-size: 18px;
    margin: 12px 0;
  }

  .faculty-card p {
    color: #666;
    margin: 7px 0;
    font-size: 14px;
  }

  .faculty-card .contact-info {
    color: #1e3d59;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .School-name {
    margin-top: 85px;
    max-width: 100%;
    font-size: auto;
    font-weight: 600;
  }

  .faculty-container h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 4px;
    background-color: #004494;
  }

  .header {
    height: 65px;
  }

  .nav__data {
    margin-top: 8px;
  }

  .nav__actions {
    margin-top: 4px;
  }
}

/* Media Query for tablets (min-width: 601px) and (max-width: 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .nav__menu {
    margin-left: -10%;
  }

  .header {
    height: 65px;
  }

  .nav__data {
    margin-top: 6px;
  }

  .nav__actions {
    margin-top: 6px;
  }

  .schools-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
  }

  .faculty-card img {
    width: 50%;
    height: 40%;
    margin: 15px auto;
    display: block;
    border-radius: 45%;
  }

  .faculty-card {
    width: calc(50% - 15px);
    max-width: calc(45%);
    height: 400px;
    box-sizing: border-box;
  }

  .faculty-card p {
    font-size: 13px;
  }

  .faculty-card h3 {
    font-size: 20px;
  }

  .faculty-card .contact-info {
    font-size: 13px;
  }
}

/* Media Query for devices (min-width: 1025px) and (max-width: 1800px) */
@media screen and (min-width: 1025px) and (max-width: 1800px) {
  .nav__menu {
    margin-left: -5%;
  }

  .header {
    height: 70px;
  }

  .nav__data {
    margin-top: 4px;
  }

  .nav__actions {
    margin-top: 4px;
  }

  .schools-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    row-gap: 15px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .faculty-card {
    width: calc(30% - 20px);
    max-width: calc(33%);
    height: 420px;
    box-sizing: border-box;
  }

  .faculty-card img {
    width: 50%;
    height: 45%;
    margin: 15px auto;
    display: block;
    border-radius: 45%;
  }

  .faculty-card p {
    font-size: 14px;
  }

  .faculty-card h3 {
    font-size: 16px;
  }

  .faculty-card .contact-info {
    font-size: 13px;
  }

  .School-name {
    margin-top: 90px;
    max-width: 100%;
    font-size: 35px;
    font-weight: 600;
  }

  .faculty-container h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 4px;
    background-color: #004494;
  }
}

.intro-section {
  margin-top: 6%;
}

.footer-div {
  margin-top: 5%;
}

#header {
  line-height: normal !important;
}