body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #333;
  /* Dark text color */
  margin: 0;
  padding: 0;
}

.intro-section {
  background-color: #0362c7;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  max-width: 1350px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
}

.intro-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.intro-section p {
  font-size: 1.2em;
}


.container {
  width: 100%;
  max-width: 1200px;
  /* margin: 50px auto; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: cardFadeIn 0.6s ease-in-out;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #333;
  /* Dark text color */
  overflow: hidden;
  /* Ensure zoom effect is contained */
  animation: cardFadeIn 0.6s ease-in-out;
}

.card-content {
  margin-bottom: 10px;
}

.card-footer {
  background-color: #f0f0f0;
  /* Light gray background */
  /* padding: 15px; */
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  color: #666;
  /* Medium gray text color */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-footer h4 {
  margin: 0;
  font-size: 18px;
  color: #0056b3;
  /* Accent color */
  text-align: center;
  /* padding: 10px; */
}

.card-footer p {
  margin: 5px 0 0;
  font-size: 14px;
  text-align: center;
  color: #666;
  /* Medium gray text color */
}

.card img {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  /* Smooth zoom effect */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card:hover img {
  transform: scale(1.1);
  /* Zoom in the image */
}

#app-gen-container,
#app-result-container {
  display: none;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
  position: relative;
  color: #333;
  /* Dark text color */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.close-icon::before,
.close-icon::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #333;
  /* Dark color for close icon */
  top: 0;
  left: 50%;
}

.close-icon::before {
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  /* Primary blue color */
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

.btn-primary:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.btn-success {
  background-color: #28a745;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

.btn-success:hover {
  background-color: #218838;
  /* Darker green on hover */
}

.btn-info {
  background-color: #17a2b8; /* Teal color for informational actions */
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto;
}

.btn-info:hover {
  background-color: #117a8b; /* Darker teal on hover */
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 20px; /* Optional: Adds space between the buttons */
  margin-top: 20px; /* Optional: Add margin to the top if needed */
}

.button-container .btn {
  padding: 10px 15px; /* Adjust padding for reduced width */
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  min-width: 100px; /* Optional: Set a minimum width */
  text-align: center; /* Ensure text is centered */
}
.btn-primary,
.btn-success,
.btn-info {
  width: auto; /* Let buttons adjust their width based on content */
  padding: 8px 16px; /* Adjust padding for reduced button width */
}

.button-container .btn + .btn {
  margin-left: 10px; /* Optional: Add space between the buttons */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  /* Dark label color */
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  /* Dark input text color */
}

#app-result-container {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  width: 80%;
  text-align: center;
}

#app-result-container h5 {
  color: #333;
  /* Dark text color */
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
}

#app-subject-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#app-subject {
  width: calc(100% - 40px);
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 10px;
  color: #333;
  /* Dark text color */
}

#copy-subject-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #0056b3;
  /* Accent color */
}

#copy-subject-btn:hover {
  color: #003f8f;
  /* Darker accent color */
}

#app-body {
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: none;
  background-color: #fff;
  color: #333;
  /* Dark text color */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  margin-top: 15px;
}

#app-body:focus {
  border-color: #007bff;
  /* Primary blue color */
}

.copy-confirmation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}

.copy-confirmation.show {
  opacity: 1;
  visibility: visible;
}

.error-message {
  color: #ff4c4c;
  /* Red color for errors */
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

#app-gen-container h5 {
  text-align: center;
  color: #333;
  /* Dark text color */
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

#app-gen-container .form-group label {
  font-family: "Roboto", sans-serif;
  /* Replace with your preferred font family */
  color: #0056b3;
  /* Replace with your preferred font color */
}

#app-gen-title:hover {
  color: #0056b3;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .card-container {
    gap: 60px;
  }

  .card {
    max-width: 400px;
  }
}

@media (min-width: 1800px){
  h1 {
    font-size:xxx-large;
  }

  .card-footer p {
    font-size: large;
  }
  #appgen-div{
    width: 100%;
    margin: 0;
    max-width: 1800px !important;
  }
  .card-container{
    /* width: 100%; */
    max-width: 1900px;
    gap: 40px;
  }
  .card{
    max-width: 600px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .intro-section {
    margin-top: 20% !important;
  }
  .nav{
    margin-inline: 0.5rem !important;
  }

  .card-container{
    margin-right: 3%;
  }

  .container,
  #app-gen-container,
  #app-result-container {
    width: 90%;
  }

  #app-result-container,
  #app-gen-container {
    padding: 15px;
  }

  .form-group input {
    padding: 10px 10px;
  }

  #app-subject-container {
    padding: 30px 0 0 0;
  }
}

#teacher-app-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#teacher-app {
  flex: 1;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 10px;
  color: #333;
  /* Dark text color */
}

#copy-teacher-app-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #0056b3;
  /* Accent color */
}

#copy-teacher-app-btn:hover {
  color: #003f8f;
  /* Darker accent color */
}

.recipient-container {
  display: flex;
  align-items: center;
}

#recipient-salutation {
  width: auto; /* Adjust width as needed */
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

#recipient-name {
  flex: 1;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
}

/* Scroll to Top Button */
#myBtnContainer {
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 70px;
  height: 70px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#myBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #075ebb;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 10;
}

#myBtn i {
  font-size: 20px;
}

#myBtn:hover {
  background-color: #014996;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.progress-ring {
  position: absolute;
  width: 90px;
  height: 90px;
  transform: rotate(-90deg);
  pointer-events: none;
  z-index: 1;
  top: -10px;
  left: -10px;
}

.progress-ring__circle {
  stroke: #014996;
  stroke-dasharray: 100 0;
  /* Start with a full circle visible */
  stroke-width: 6;
  fill: transparent;
  transition: stroke-dasharray 0.35s;
}
.ct-footer-pre{
  width: 100% !important;
}