.dynamic-timetable-container {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

.options {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.export-button {
  padding: 10px 20px;
  background: #8B0000;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.export-button:hover {
  transform: translateY(-2px);
  background: #a50000;
  box-shadow: 0 10px 20px rgba(139, 0, 0, 0.2),
    0 6px 6px rgba(139, 0, 0, 0.1);
}

.export-button:active {
  transform: translateY(1px);
}

.timetable {
  overflow-x: auto;
}

.timetable table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timetable.export-mode table {
  padding: 0 !important;
  margin: 0 !important;
  border-spacing: 0 !important;
}

.timetable th {
  background: #1B1212;
  color: white;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  font-size: 16px;
}

.timetable td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px
}

.day-column {
  background: #191970;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #eef6ff;
  cursor: pointer;
}

.conflict {
  color: red;
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {

  .timetable th,
  .timetable td {
    padding: 10px;
    font-size: 12px;
  }
}